DATABASE_URL=postgresql+asyncpg://botbuilder:Botbuilder2026@db:5432/botbuilder
REDIS_URL=redis://redis:6379/0
JWT_SECRET=super-secret-jwt-key-for-botbuilder-2026
JWT_EXPIRE_MINUTES=1440
JWT_REFRESH_EXPIRE_DAYS=30
WEBHOOK_BASE_URL=https://backend.yoqutdigital.uz
ENCRYPTION_KEY=TK47ujgimcBSio0KTlnpAHe4xxbQMZIUtz7abMC-TJY=
BOT_TOKEN_ENCRYPTION_KEY=RRIG7BgiJGM8K6A1mweNACpFCELkTUxOwHIS2WzAzgU=
OPENAI_API_KEY=""
CORS_ORIGINS=https://yoqutdigital.uz,https://frontend.yoqutdigital.uz,https://backend.yoqutdigital.uz
MANAGER_BOT_TOKEN=8569788842:AAEj528dJIjCYPWTi9W7SH1hzgdgT8_5VIk
MANAGER_BOT_USERNAME=YoqutConstructor_bot